# from jsonbin.io, we use it to upload our json file
VITE_JSONBIN_MASTER_KEY=$2a$10$1XKXkHoyyyijl8WnKSPRm.PIr3QfX.ZJBQ0Dzlau/L6lxlAlip7dK
VITE_JSONBIN_URL=https://api.jsonbin.io/v3/b/6a8442daf5f4af5e292405cd
#supabase for auth
VITE_SUPABASE_URL=https://wzfutbaqboncznhxamyj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6ZnV0YmFxYm9uY3puaHhhbXlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNTcwNjMsImV4cCI6MjEwMjYzMzA2M30._FDUGMaNcZzb730qKLEevL9W00HtqfYc8N9QLZ_mn44